* {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

.banner-image {
    width: 100%;
    align-items: center;
}

.text-block {
    position: absolute;
    text-align: right;
    bottom: 200px;
    right: 20px;
    padding-left: 20px;
    padding-right: 200px;
}
.btn-primary{
    background-color: tomato;
    color: aliceblue;
}
.failure{
    display: flex;
    align-items: center;
    margin: 0 200px;
    padding: 20px;
    margin-bottom: 50px;
}

.section-title{
    margin-bottom: 100px;
}

.my-plan{
    text-align: center;
    margin: 0 200px;
    margin-bottom: 200px;
}

.my-plan-icon{
    display: flex;
    justify-content: space-around;
    
}
/* .plan-icon{
    margin: 20px;
} */